.container {
    font-family: 'HSYuji-Regular';
}
body{
    margin: 0;
}
/* #toGame under .row */
/* 오른쪽 버튼 4개 설정 */
.row .toGame {
    width: 250px;
    height: 100px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: white;
    background-color: rgba(7, 42, 96, 1);
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    

    /* font settings */
    color:aliceblue;
    font-size: 22px;
}
h1 {
    color:white;
}

/* 웹폰트 아무거나 추가 */
@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#background{
    background-color:rgb(221, 252, 144);
    background-size:cover;
}
/* 임시로 구역 색깔 입힘 */
#leftDiv {
    background-color:rgb(54, 161, 15);
    padding:50px;
}
#rightDiv {
    background-color: gold;
}




/* login.html*/
.loginmain {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.logo {
    margin-top: 0px;
    margin-bottom: 40px;
}

#login {
    width: 200px;
    background-color: skyblue;
    border-color: transparent;
    color: white;
}

.account {
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#alert {
    border-color: transparent;
}